/* /////////////// LOGIN ///////////////*/
.divider:after,
.divider:before {
  content: "";
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 1px;
  background: #eee;
}

.h-custom {
  height: calc(100% - 73px);
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

/* /////////////// STICKY NAV ///////////////*/
.sticky-nav {
  position: fixed;
  top: 0;
  background: rgba(0, 0, 0, 0);
  width: 100%;
  z-index: 99;
  height: 100px;
  padding: .5rem 5rem;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.sticky-nav .logo {
  height: 100%;
  width: 200px;
}

.sticky-nav .logo img {
  height: 100%;
  width: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  -o-object-position: center;
     object-position: center;
}

.sticky-nav.is-scrolled {
  background: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.16);
          box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.16);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: .5rem;
  height: 70px;
}

.sticky-nav.is-scrolled .logo {
  width: 150px;
}

.sticky-nav .burger-icon {
  display: none;
}

.sticky-nav .sidebar {
  display: none;
  background: #fff;
  position: absolute;
  top: 90%;
  left: 15px;
  padding: 10px;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sticky-nav .sidebar .secondary-btn {
  width: 100%;
  margin: 0 !important;
}

.sticky-nav .sidebar:before {
  content: "";
  height: 0px;
  width: 0px;
  position: absolute;
  border: 15px solid transparent;
  border-bottom-color: #fff;
  top: -30px;
  left: 10px;
}

.sticky-nav .sidebar.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* /////////////// SEARCH TABS ///////////////*/
#dr-search-form .search-tab-input {
  display: none;
}

#dr-search-form .search-tab-input#tab1:checked ~ #content1,
#dr-search-form .search-tab-input#tab2:checked ~ #content2,
#dr-search-form .search-tab-input#tab3:checked ~ #content3 {
  display: block;
}

#dr-search-form .search-tab-input:checked + .search-tab-label {
  color: #000;
  background: #DDE3E7;
  border: none;
}

#dr-search-form .search-tab-label {
  position: absolute;
  z-index: 9;
  background: #CFF9F3;
  border-radius: 10px 10px 0 0;
  padding: .5rem 1rem 0 1rem;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #000;
  top: -47px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-weight: 600;
  cursor: pointer;
}

#dr-search-form .search-tab-label.tab3 {
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

#dr-search-form .search-tab-label.tab1 {
  -webkit-transform: translateX(60%);
          transform: translateX(60%);
}

#dr-search-form .search-bar {
  display: none;
}
/*# sourceMappingURL=custom.css.map */