/* /////////////// LOGIN ///////////////*/
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}
@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
}

/* /////////////// STICKY NAV ///////////////*/

.sticky-nav{
  position: fixed;
  top:0; 
  background: rgba(0, 0, 0, 0.0);
  width: 100%; 
  z-index: 99;
  height: 100px;
  padding: .5rem 5rem;
  padding-top: 2rem; 

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  transition: all .3s ease-in-out;

  .logo{
      height: 100% ; width: 200px;
      img{
          height: 100%;
          width:100%; 
          object-fit:fill;
          object-position: center;
      }
  }

  &.is-scrolled{
      background:rgba(255, 255, 255, 0.95) ;
      box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.16);
      align-items: center;
      padding-top: .5rem; 
      height: 70px;
      .logo{
          width: 150px;
          // background: #000;
      }
  }
  .burger-icon{
      display: none;
  }

  .sidebar{
      display: none;
      background: #fff;
      position: absolute;
      top:90%; 
      left: 15px;
      padding: 10px;
      border-radius: 10px;
      // display: flex; 
      flex-direction: column;
      gap: 5px; 
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      .secondary-btn{
          width: 100%;
          margin: 0 !important;
      }

      &:before{
          content:""; 
          height: 0px;
          width: 0px;
          position: absolute;
          border: 15px solid transparent;
          border-bottom-color: #fff;
          top:-30px; 
          left: 10px;
      }
      &.show{
          display: flex;
      }
  }

} 
 
/* /////////////// SEARCH TABS ///////////////*/
#dr-search-form{

  .search-tab-input{
    display: none;

    &#tab1:checked ~ #content1,
    &#tab2:checked ~ #content2,
    &#tab3:checked ~ #content3{
      display: block;
    }
    &:checked + .search-tab-label {
      color: #000;
      background: #DDE3E7;
      border: none;
    }

  } 
  
  .search-tab-label{
    position: absolute;
    z-index: 9;
    background: #CFF9F3;
    border-radius: 10px 10px 0 0;
    padding: .5rem 1rem 0 1rem;
    width: fit-content;
    color: #000;
    top:-47px; 
    left: 50%;
    transform: translateX(-50%);
    font-weight: 600;
    cursor: pointer;
  
    &.tab3{
      transform: translateX(-150%);
      // background: red;
    }
  
    &.tab1{
      transform: translateX(60%);
      // background: green;
  
    }
  }

  //hide search bar 
  .search-bar{
    display: none;
    // background: #000;
  }

}



//show search bar

